// _header.scss
header {
  grid-area: nav;
  height: 80px;
  width: 100vw;
  background-color: $primary-color;
  margin: 0;
  position: fixed;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &:hover {
    background-color: lighten($primary-color, 2%);
  }

}
