@import './partials/variables';
@import './partials/mixins';
@import './partials/header';
@import './partials/nav';
@import './partials/footer';
@import './partials/layout';
@import './partials/responsive';
@import "./partials/animering";

$theme: 'light';

/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

picture img {
    width: 300px;
    height: 200px;
  
    @if $theme == 'dark' {
      border: 3px solid white;
    } @else {
      border: 3px solid black;
    }
  }

/* Text styles */
%text-style {
    font-size: 16px;
    line-height: 1.8rem;
    font-family: 'Roboto', sans-serif;
}

h2 {
    @extend %text-style;
    font-size: 36px;
    font-weight: bold;
}

p {
    @extend %text-style;
    padding-bottom: 2em;
}

a {
    @extend %text-style;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/* Ljust Tema (Light Theme) - Default styles */
body {
    background-color: $primary-color-light;
    color: $secondary-color-light;
}

a {
    color: $accent-color-light;
}

/* Media Query för mörkt tema (Dark Theme) */
@media (prefers-color-scheme: dark) {
    body {
        background-color: $primary-color-dark;
        color: $secondary-color-dark;
    }

    a {
        color: $accent-color-dark;
    }
}

#mapContainer {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

form{
#locationInput{
    width: 15em;
    height: 2em;
    font-size: 1em;
}}

.diagram{
    display: flex;
    flex-direction: row;
}