@import './partials/variables';
@import './partials/mixins';
@import './partials/header';
@import './partials/nav';
@import './partials/footer';
@import './partials/layout';
@import './partials/responsive';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif; 
    --color2: pink;
}

picture{
    img{
        width: 300px;
        height: 200px;
    }
}

%text-style {
    font-size: 16px;
    line-height: 1.8rem;
    font-family: 'Roboto', sans-serif;
  }
  h2 {
    @extend %text-style;
    font-size: 36px; 
    font-weight: bold;
  }
  
  p {
    @extend %text-style;
    padding-bottom: 2em;
  }
  a {
    @extend %text-style;
    text-decoration: none;  
    &:hover {
      text-decoration: underline;
    }
  }