
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.15cm;
}
body{
    font-family: 'Roboto', sans-serif; 
    --color2: pink;
}

@import 'partials/variables';
@import './partials/mixins';
@import './partials/base';
@import './partials/header';
@import './partials/nav';
@import './partials/footer';
@import './partials/layout';
@import './partials/responsive';
