@charset "UTF-8";
/* Allmänna variabler */
/* Ljust Tema */
/* Mörkt Tema */
/* Allmänna variabler */
/* Ljust Tema */
/* Mörkt Tema */
header {
  grid-area: nav;
  height: 80px;
  width: 100vw;
  margin: 0;
  position: fixed;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #333333;
}
header:hover {
  background-color: white;
}
@media (prefers-color-scheme: dark) {
  header {
    background-color: #5e5e5e;
    color: #e0e0e0;
  }
  header:hover {
    background-color: #636363;
  }
  header #nav-menu {
    background-color: #2b2b2b;
    color: #e0e0e0;
  }
  header nav ul {
    color: #e0e0e0;
    background-color: #5e5e5e;
  }
}

/* Allmänna variabler */
/* Ljust Tema */
/* Mörkt Tema */
nav {
  background-color: #ffffff;
  box-shadow: 2px 0px 1000px rgba(0, 0, 0, 0.71);
  font-size: 1.4em;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  display: none;
}
nav ul {
  width: 100%;
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
nav li {
  padding: 0.8em 0;
  width: 100%;
}
nav li:hover {
  background-color: #ffffff;
  cursor: pointer;
}
nav a {
  color: #333333;
  text-decoration: none;
  padding: 0 1em;
}
@media (prefers-color-scheme: dark) {
  nav {
    background-color: #2b2b2b;
    color: #e0e0e0;
  }
  nav ul {
    color: #e0e0e0;
    background-color: #5e5e5e;
  }
  nav li:hover {
    background-color: #2b2b2b;
  }
  nav a {
    color: #e0e0e0;
  }
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  background-color: #ffffff;
  border: #333333 solid 2px;
  cursor: pointer;
}
.menu-btn:hover {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}
.menu-btn .menu-icon {
  margin-right: 10px;
}
.menu-btn .bars {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #333333;
  margin: 5px 0;
}
.menu-btn .menu-text {
  font-size: 1.2em;
  color: #333333;
}
@media (prefers-color-scheme: dark) {
  .menu-btn {
    background-color: #2b2b2b;
    border: #e0e0e0 solid 2px;
  }
  .menu-btn .bars {
    background-color: #e0e0e0;
  }
  .menu-btn .menu-text {
    color: #e0e0e0;
  }
}

.close {
  margin: 1em 1.5em;
  padding: 10px 15px;
}

.cross1, .cross2 {
  width: 25px;
  background-color: #333333;
}
@media (prefers-color-scheme: dark) {
  .cross1, .cross2 {
    background-color: #e0e0e0;
  }
}

.cross1 {
  transform: rotate(45deg);
  position: relative;
  top: 5px;
}

.cross2 {
  transform: rotate(135deg);
  position: relative;
  top: -3px;
}

/* Allmänna variabler */
/* Ljust Tema */
/* Mörkt Tema */
.footer {
  bottom: 0;
  width: 100vw;
  text-align: center;
  padding: 2rem;
  font-size: 18px;
  background-color: #ffffff;
  color: #333333;
}
.footer:hover {
  background-color: white;
}
@media (prefers-color-scheme: dark) {
  .footer {
    background-color: #5e5e5e;
    color: #e0e0e0;
  }
  .footer:hover {
    background-color: #636363;
  }
}

.container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-areas: "nav" "banner" "header1" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

main {
  margin-top: 2em;
  padding: 15em 6em;
}

@media only screen and (min-width: 992px) {
  header {
    padding: 0 3em;
  }
  .menu-btn {
    display: none;
  }
  #open-menu {
    display: none !important;
    right: 0;
  }
  header {
    position: fixed;
  }
  nav {
    display: block !important;
    position: static;
    box-shadow: 0 0px 0px;
    height: auto;
    font-size: 18px;
    width: auto;
  }
  nav ul {
    height: 100%;
  }
  nav li {
    display: inline;
    padding: 1.2em 0;
  }
}
@media (max-width: 950px) {
  body {
    width: 100vw;
  }
  main {
    margin: 0;
    padding: 6em 0;
  }
  section {
    box-sizing: border-box;
    margin: 0;
    padding: 0.5em;
  }
  h1 {
    font-size: 1.5em;
    width: 300px;
  }
}
/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  --color2: pink;
}

picture img {
  width: 300px;
  height: 200px;
  border: 3px solid black;
}

/* Text styles */
a, p, h2 {
  font-size: 16px;
  line-height: 1.8rem;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

p {
  padding-bottom: 2em;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Ljust Tema (Light Theme) - Default styles */
body {
  background-color: #ffffff;
  color: #333333;
}

a {
  color: #007bff;
}

/* Media Query för mörkt tema (Dark Theme) */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #2b2b2b;
    color: #e0e0e0;
  }
  a {
    color: #bb86fc;
  }
}/*# sourceMappingURL=style.css.map */